.background{
    background-color: lightgray;
    width: 96%;
    margin: 2% 0 0.2% 2%;
    border-radius: 3px;
}
.scroller{
    height: 69vh;
    overflow-y: scroll;
}
.scroller::-webkit-scrollbar{
    display: none;
}
.button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #1c1919;
    cursor: pointer;
}
.button:hover{
    color: #fba016;
}