    .container{
    background-color: darkgray;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.image{
    width: 20%;
    justify-self: flex-start;
}
.container div{
    cursor: default;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.username{
    width: 30%;
}
.name{
    width: 30%;
}
.empty{
    width: 20%;
}