.header{
    height: 100px;
    display: flex;
    background-color: lightgray;
    max-width: 100%;
    justify-content: space-evenly;
}
.container_right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container_right button{
    margin-left: 20%;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color: lightgray;
    font-size: 20px;
    font-weight: 700;
}
.container_right :hover {
    color: #fba016;
}
.image{
    align-self: center;
    width: 30%;
    height: auto;
}
.links{
    flex-basis: 50%;
    display: flex;
    font-size: 26px;
    justify-content: space-evenly;
    align-items: center;
}
.link{
    color: #1c1919;
    padding-left: 5%;
    font-weight: bold;
    letter-spacing: -1px;
    text-decoration: none;
    text-transform: uppercase;
}
.link:hover{
    color: #fba016;
}
.link_active{
    padding-left: 5%;
    color: #fba016;
    font-weight: bold;
    letter-spacing: -1px;
    text-decoration: none;
    text-transform: uppercase;
    /* filter: drop-shadow(0 0 1px); */
    
}

.shift_container{
    /* align-self: center; */
    /* justify-content: flex-end; */
}
.shift_container h1{
    font-style: italic;
    color: #fba016;
    margin-right: 5%;
}