.container{
    display: flex;
    width: 100%;
    margin: 1.5% 0 0 0;
    justify-content: space-evenly;
    align-items: center;
}
.container img{
    /* margin-right: 6%; */
    /* margin-right: 5%; */
}
.container div{
    cursor: default;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.special_task{
    /* width: 20%; */
}
.image_blue, .image_green{
    border-radius: 5px;
    width: 80px;
}
.image_green{
    border: 5px solid #24b300;
}
.image_blue{
    border: 5px solid #0068b3;
}
.special_task{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.special_task h3{
    font-weight: 400;
}
.button{ 
    font-size: 36px;
    color: #1c1919;
    background-color: lightgray;
    cursor: pointer;
    font-weight: bold;
    border: none;
    text-align: center;
}
.button:hover{
    color: #fba016;
}