.bigBox{
    height: 85vh;
}
.big_container{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 81vh;
    /* height: 95%; */
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.big_container::-webkit-scrollbar {
    display: none;
 }
.container{
    display: flex;
    width: 100%;
    margin: 1.5% 0 0 0;
    justify-content: center;
    align-items: center;
}
.container div{
    cursor: default;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.column{
    width: 30%;
}
.username{

    width: 30%;
}
.image{
    width: 20%;
}
.image_blue, .image_green{
    border-radius: 5px;
    width: 80px;
    margin-left: 15%;
}
.image_green{
    border: 5px solid #24b300;
}
.image_blue{
    border: 5px solid #0068b3;
}
.special_task{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.special_task h3{
    font-weight: 400;
}
.checkBox{
    font-size: 22px;
    width: 20%;
}
.checkBox input{
    width: 30px;
    height: 30px;
    margin-left: 40%;
    cursor: pointer;
}
.button{ 
    /* margin: 0 0 0 2%; */
    margin-left: 2%;
    margin-top: -1%;
    font-weight: 700;
    width: 100px;
    height: 30px;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
}
.button:hover{
    color: #fba016;;
}