.container{
    height: 180px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 20%;
    /* padding-right: 20%; */
    /* margin-right: 125%; */
}
.user_container{
    width: 20%;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 20%;
    cursor: pointer;
}
.username{
    font-size: 20px;
}
.image_blue, .image_green{
    height: 80px;
    width: 70px;
    background-color: darkgray;
    border-radius: 5px;
}
.image_green{
    border: 3px solid #24b300;
}
.image_blue{
    border: 3px solid #0068b3;
}